.logo {
  width: 100px;
  height: auto;
}

.card-container {
  perspective: 700px;
  display: grid;
}
.card-flip,
.card-container {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: 'frontAndBack';
  transform-style: preserve-3d;
  transition: all 0.5s ease-out;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(-180deg);
  grid-area: frontAndBack;
}
.card-front {
  grid-area: frontAndBack;
}
.card-img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* 
 */
.completed-container {
  position: fixed;
  visibility: hidden;

  z-index: 1000;
  position: absolute;
  background: white;
  height: 100vh;
  width: 100vw;
  top: 0;
}
.completed-container > * {
  opacity: 1;
}

.attempt-ball {
  width: 25px;
  height: auto;
  margin-right: 8px;
}
